#header {
    padding-top: 5px;
    text-align: center;
    padding-bottom: 5px;
}
#header h1 a {
    text-decoration: none;
    color: red !important;
}
#header h1 span {
    text-style: italic;
    font-size: 0.8em;
}

#footer {
    padding: 5px;
    text-align: right;
}
