body {
    background-color: #fefeff;
}
#header {
    padding-top: 5px;
    text-align: center;
    padding-bottom: 5px;
}
#header h1 a {
    text-decoration: none;
    color: red !important;
}
#header h1 span {
    text-style: italic;
    font-size: 0.8em;
}

#footer {
    padding: 5px;
    text-align: right;
}

.menu_simple ul {
    margin: 0;
    padding: 0;
    width:185px;
    list-style-type: none;
}

.menu_simple ul li a {
    text-decoration: none;
    color: black;
    padding: 10.5px 11px;
    background-color: #fefefe;
    display:block;
    border-left: 1px solid #fefefe;
    border-bottom: 1px solid #fefefe;
}

.menu_simple ul li a:visited {
    color: black;
}

.menu_simple ul li a:hover, .menu_simple ul li a.current {
    color: black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
